<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>关系图案例</title>
    <script src="../js/vue.js"></script>
    <script src="../js/echarts.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../css/node.css">
</head>

<body>
<div id="app" class="root">
    <nav class="navbar">
        <ul>
            <li>
                <label>
                    <input type="text" placeholder="输入案件号" class="nav-input" v-model="caseObject.caseNumber">
                    <input type="text" placeholder="输入被查询人名" class="nav-input" v-model="caseObject.caseName">
                    <input type="text" placeholder="输入被查询人身份证" class="nav-input"
                           v-model="caseObject.caseCardId">
                </label>
                <button class="nav-button" @click="fetchDataByInput">查询</button>
            </li>
            <li>
                <label>
                    <select v-model="selectedCaseNumber" class="nav-select">
                        <option value="" disabled selected hidden>选择已有案件号</option>
                        <option v-for="caseNum in caseNumbers" :key="caseNum" :value="caseNum">{{ caseNum }}</option>
                    </select>
                </label>
                <button class="nav-button" @click="fetchChartData">查询</button>
            </li>
        </ul>
    </nav>
    <div id="chart-container">
        <div id="chart1" v-show="hasData"></div>
        <img v-if="!hasData" src="/img/404.webp" alt="显示失败" class="no-data-img">
    </div>
</div>


<script type="text/javascript">
    const vm = new Vue({
        el: '#app',
        data: {
            caseObject: {
                caseNumber: '',
                caseName: '',
                caseCardId: '',
            },
            echartsData: {
                chartData: null,
                categories: null,
                links: null,
            },
            caseNumbers: [],
            selectedCaseNumber: ''
        },
        computed: {
            hasData() {
                console.log("111")
                return this.echartsData.chartData != null
            }
        },
        mounted() {
            //获取所有案例编号
            this.fetchAllCaseNumbers();
            // this.fetchChartData();

            // 侦听窗口调整大小时事件
            window.addEventListener('resize', this.resizeChart);
        },
        methods: {
            fetchChartData() {
                axios.get('/chart/data')
                    .then(response => {
                        console.log('------------------', response)
                        const data = response.data.data;
                        // 根据需要调整 chartData、类别和链接
                        this.echartsData.chartData = data.nodes;
                        this.echartsData.links = data.links;
                        this.echartsData.categories = data.categories;
                        this.initChart();
                    })
                    .catch(error => {
                        console.error("Error fetching chart data", error);
                    });
            },
            fetchAllCaseNumbers() {
                axios.get('/operation/allCase')
                    .then(response => {
                        this.caseNumbers = response.data.data;
                    })
                    .catch(error => {
                        console.error("Error fetching case numbers", error);
                    });
            },
            fetchDataByInput() {
                if (!this.caseObject.caseNumber) {
                    alert('请输入案件号');
                    return;
                }
                axios.post(`/operation/inquire`, this.caseObject, {
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    }
                })
                    .then(response => {
                        const data = response.data.data;
                        this.echartsData.chartData = data.nodes;
                        this.echartsData.links = data.links;
                        this.echartsData.categories = data.categories;
                        this.initChart();
                    })
                    .catch(error => {
                        console.error("Error fetching data by input", error);
                    });
            },
            fetchDataByDropdown() {
                if (!this.selectedCaseNumber) {
                    alert('请选择一个案件号');
                    return;
                }
                axios.get(`/operation/inquire/${this.selectedCaseNumber}`)
                    .then(response => {
                        const data = response.data.data;
                        this.echartsData.chartData = data.nodes;
                        this.echartsData.links = data.links;
                        this.echartsData.categories = data.categories;
                        this.initChart();
                    })
                    .catch(error => {
                        console.error("Error fetching data by dropdown", error);
                    });
            },
            initChart() {
                if (!this.echartsData.chartData || !this.echartsData.categories) return;

                var chart1 = echarts.init(document.getElementById('chart1'));

                var option = {
                    backgroundColor: '#fff',    // 背景颜色
                    title: {
                        text: 'ECharts 关系图',
                        textStyle: { // 标题样式
                            color: '#000', // 标题字体颜色
                            fontSize: '30', // 标题字体大小
                        }
                    },
                    tooltip: {
                        formatter: function (x) {
                            return x.data.des;
                        }
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: [{
                        data: this.echartsData.categories.map(function (a) {
                            return a.name;
                        })
                    }],
                    series: [{
                        type: 'graph',
                        layout: 'force',
                        symbolSize: 40,
                        focusNodeAdjacency: true,
                        legendHoverLink: false,
                        roam: true,
                        force: {
                            repulsion: 500,
                            edgeLength: [150, 100]
                        },
                        draggable: true,
                        lineStyle: {
                            color: 'source',
                            width: 2
                            // normal: {
                            //     width: 2,
                            //     // color: '#4b565b',
                            // }
                        },
                        edgeLabel: {
                            normal: {
                                show: true,
                                formatter: function (x) {
                                    return x.data.name;
                                }
                            }
                        },
                        label: {
                            position: 'right',
                            formatter: '{b}',
                            normal: {
                                show: true,
                                textStyle: {}
                            }
                        },
                        emphasis: {
                            focus: 'adjacency',
                            lineStyle: {
                                width: 10
                            }
                        },
                        data: this.echartsData.chartData,
                        links: this.echartsData.links,
                        categories: this.echartsData.categories,
                    }]
                };

                chart1.setOption(option);
                this.chartInstance = chart1;
            },
            resizeChart() {
                if (this.chartInstance) {
                    this.chartInstance.resize();
                }
            }
        },
        beforeDestroy() {
            // 在组件销毁时删除事件侦听器
            window.removeEventListener('resize', this.resizeChart);
        }
    });
</script>

</body>

</html>
